.background {
  background-color: rgb(193,212,333);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.temp_control {
  height: 20px;
}

.thermo_up {
  height: 40px;
}

.logoContainer {
  height: 140px;
  margin-left: auto;
  margin-right: auto
}

.basicLogo {
  float: right;
  cursor: default;
}

.basicContainer {
  position: relative;
  text-align: center;
  height: 300px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.basicContainer img {
  z-index: -1;
  cursor: crosshair;
}

.temperature {
  position: absolute;
  left: 137px;
  top: 37px;
  cursor: cell;
}

.basicContainer .logo {
  position: absolute;
  left: 158px;
  top: 2px;
  cursor: crosshair;
}

.plusLogo {
  float: left;
  cursor: default;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D01;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(0,215,0);
}

.input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
